<?xml version="1.0" encoding="UTF-8"?>

   <config version="Quince 1.0.1" htmlParse="false">
   <!-- 0. FILE INFORMATION -->
   <item order="0-1" id="configFileVersion">1.0.1</item>
   <item order="0-2" id="iterationDate">2025-08-31</item>

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: baserow or local -->
   <item id="studyTitle">Demo Project</item> 
   <item id="creationDate">2025-7-27@10:54</item> 
   <item id="setupTarget">baserow</item>
   <item id="baserowToken">9mai4vZoWKfizfMebLLwHYXXg2FvBgzt</item>
   <item id="baserowDatabaseIdNumber">542139</item>

   <!-- EMAIL -->
   <item id="emailAddress">ken.q.tools@gmail.com</item>  
   <item id="emailSubjectLine">Quince Sort Results</item>  

   <!-- SECOND PROJECT LINKING -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl"></item> 

   <!-- IMAGE OPTIONS  (imageFormat: 169 or 43)-->
   <item id="useImages">false</item>
   <item id="numImages">30</item>
   <item id="imageFileType">jpg</item>
   <item id="imageFormat">postSortImageModal169</item>

   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">false</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 
   <item id="showConsentPage">true</item> 
   <item id="showConsentPageHelpModal">true</item> 
   <item id="useThinProcess">true</item> 
   <item id="useMobileMode">true</item> 

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#E1E1E1</item>
   <item id="yellowCardColor">#E1E1E1</item>
   <item id="pinkCardColor">#E1E1E1</item>
   <item id="defaultFontColor">#2a2a2a</item>

   <item id="setDefaultFontSizePresort">true</item>
   <item id="defaultFontSizePresort">22</item>
   <item id="traceSorts">true</item>
  
   <!-- THINNING -->
   <item id="thinGuidanceModalMaxIterations">2</item>

   <!-- SORT -->
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="condOfInstFontSize">20</item>

   <item id="setMinCardHeightSort">true</item>
   <item id="minCardHeightSort">120</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="defaultFontSizeSort">12</item>
   
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   <item id="showBackButton">true</item>
   <item id="postsortCommentsRequired">true</item>

   <item id="setDefaultFontSizePostsort">true</item>
   <item id="defaultFontSizePostsort">16</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="minCardHeightPostsort">120</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

<item id="survey">
       <input type="information"></input>
       <note bg="goldenrod">*印の付いたすべてのフィールドは{{{b}}}必須{{{/b}}}です。</note>
   </item>

   <item id="survey">
        <input type="text" required="false" limited="false" limitLength="100" restricted="false"></input>
        <label>1. 以前に私の授業を受けたことがありますか？</label>
        <note>「はい」の場合は、{{{i}}}ここに授業名を記載{{{/i}}}してください。（上限100文字）</note>
   </item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>2. このクラスでのiPad使用体験について説明してください</label>
        <placeholder>こちらにコメントを入力してください</placeholder>
   </item>

   <item id="survey">
        <input type="radio" required="false">1年生;;;2年生;;;3年生;;;4年生</input>
        <label>3. 学年</label>
        <note>学年を選択してください</note>
   </item>

   <item id="survey">
        <input type="select" required="false">グローバルスタディーズ;;;言語学;;;英文学</input>
        <label>4. 専攻分野は何ですか？</label>
   </item>

   <item id="survey">
        <input type="checkbox" required="true">講義;;;グループディスカッション;;;アクティブラーニング</input>
        <label>5. どのような授業形式を好みますか？*</label>
   </item>

   <item id="survey">
        <input type="rating2" required="false" scale="はい;;;いいえ">以前に授業でiPadを使用したことがある。;;;以前に授業でノートパソコンを使用したことがある。;;;以前にMoodleを使用したことがある。;;;以前にQuizletを使用したことがある。;;;</input>
        <label>6. 以下の{{{mark}}}すべて{{{/mark}}}の項目についてお答えください</label>
   </item>

   <item id="survey">
        <input type="rating5" required="false" scale="1;;;2;;;3;;;4;;;5">このクラスでのiPadの使用をどのように評価しますか？;;;このクラス全体をどのように評価しますか？;;;{{{u}}}他の学生{{{/u}}}との交流はいかがでしたか？;;;コンピューター室へのアクセスはいかがでしたか？</input>
        <label>7. {{{i}}}以下の質問{{{/i}}}にお答えください</label>
   </item>

   <item id="survey">
        <input type="rating10" required="false" scale="1;;;2;;;3;;;4;;;5;;;6;;;7;;;8;;;9;;;10">このクラスでの{{{b}}}Socrative{{{/b}}}ウェブサイトの使用をどのように評価しますか？;;;このクラスでの{{{b}}}Quizlet{{{/b}}}ウェブサイトの使用をどのように評価しますか？;;;このクラスでのMoodleの使用をどのように評価しますか？;;;このクラスでのEdmodoの使用をどのように評価しますか？;;;</input>
        <label>8. {{{u}}}以下のすべての質問にお答えください{{{/u}}}</label>
   </item>


  </config>