<?xml version="1.0" encoding="UTF-8"?>

   <config version="Quince 1.0.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: netlify, firebase, local, email, or sheets -->
   <item id="studyTitle">Demo Project</item> 
   <item id="databaseOptions">Include_Google_Options</item>
   <item id="setupTarget">baserow</item>
   <!-- STEIN -->
   <item id="steinApiUrl"></item>
   <!-- EMAIL -->
   <item id="emailAddress">ken.q.tools@gmail.com</item>  
   <item id="emailSubject">EQ Web Sort Results</item>  
   <!-- SECOND PROJECT LINKING -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl">http://</item> 
   <!-- IMAGE OPTIONS  (imageFormat: 169 or 43)-->
   <item id="useImages">false</item>
   <item id="numImages">30</item>
   <item id="imageFileType">jpg</item>
   <item id="imageFormat">postSortImageModal169</item>

   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">false</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 
   <item id="showConsentPage">false</item> 
   <item id="showConsentPageHelpModal">true</item> 
   <item id="useThinProcess">true</item> 
   <item id="useMobileMode">true</item> 

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#ccffcc</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#ffe0e0</item>
   <item id="defaultFontColor">#2a2a2a</item>

   <item id="setDefaultFontSizePresort">true</item>
   <item id="defaultFontSizePresort">22</item>
   <item id="traceSorts">true</item>
  
   <!-- THINNING -->
   <item id="thinGuidanceModalMaxIterations">2</item>

   <!-- SORT -->
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="condOfInstFontSize">20</item>

   <item id="setMinCardHeightSort">true</item>
   <item id="minCardHeightSort">120</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="defaultFontSizeSort">12</item>
   
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   <item id="showBackButton">true</item>
   <item id="postsortCommentsRequired">true</item>

   <item id="setDefaultFontSizePostsort">true</item>
   <item id="defaultFontSizePostsort">16</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="minCardHeightPostsort">120</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>1. 神戸女学院大学がグローバル・スタディーズ学科の新入生の経験を向上させるためにできることは何だとお考えですか？</label>
        <note>この調査は匿名で行われますので、ご遠慮なくご意見をお寄せください。</note>
        <placeholder>コメントをここに入力してください</placeholder>
   </item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>2. グローバル・スタディーズ学科の教員に伝えたいことがあれば、こちらにご記入ください。</label>
        <note>この調査は匿名で行われますので、ご遠慮なくご意見をお寄せください。</note>
        <placeholder>コメントをここに入力してください</placeholder>
   </item>

  </config>
