<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0.7" htmlParse="false">

   <!-- HIDDEN OPTIONS - DO NOT DELETE OR CHANGE -->
   <item id="devMode">false</item> 
   <item id="traceSorts">true</item> 
   <item id="thinGuidanceModalMaxIterations">2</item>
   <item id="setDefaultFontSize">true</item>
   <item id="setDefaultFontSizePresort">true</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="setDefaultFontSizePostsort">true</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="useThinProcess">true</item> 
   <item id="useMobileMode">true</item> 
   <item id="emailSubjectLine">Quince Sort Results</item>  
   <item id="setupTarget">baserow</item>
   <item id="greenCardColor">#E1E1E1</item>
   <item id="yellowCardColor">#E1E1E1</item>
   <item id="pinkCardColor">#E1E1E1</item>
   <item id="sortDirection">positive</item> 

   <!-- 0. FILE INFORMATION -->
   <info order="0-a" id="configFileVersion">1.0.0</info>
   <info order="0-b" id="iterationDate">2025-08-31</info>
   <info order="1--" id="creationDate">2026-2-13@11:53</info> 

   <!-- 1. STUDY TITLE -->
   <item order="1-a" id="studyTitle">Demo Project</item> 

   <!-- 2. DATABASE SETUP -->
   <!-- "setupTarget" options: baserow or local -->
   <item order="2-a" id="baserowToken">9mai4vZoWKfizfMebLLwHYXXg2FvBgzt</item>
   <item order="2-b" id="baserowDatabaseIdNumber">542139</item>
   <item order="2-c" id="emailAddress">ken.q.tools@gmail.com</item>

   <!-- 3. PREVENT MOBILE ACCESS -->
   <item order="3-a" id="preventMobileAccess">false</item>

   <!-- 4. SECOND PROJECT LINKING -->
   <item order="4-a" id="linkToSecondProject">false</item> 
   <item order="4-b" id="secondProjectUrl"></item> 

   <!-- 5. STATEMENT OR IMAGE SORT  (imageFormat: 169 or 43)-->
   <item order="5-a" id="useImages">false</item>
   <item order="5-b" id="numImages">30</item>
   <item order="5-c" id="imageFileType">jpg</item>
   <item order="5-d" id="imageFormat">postSortImageModal169</item>

   <!-- 6. CONSENT PAGE OPTIONS -->
   <item order="6-a" id="showConsentPage">true</item>
   <item order="6-b" id="showConsentPageHelpModal">true</item>
   
   <!-- 7. PROJECT ACCESS OPTIONS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item order="7-a" id="initialScreen">anonymous</item>
   <item order="7-b" id="accessCode">demo</item>
   
   <!-- 8. COLOR SETTINGS  -->
   <!-- defaults = #2a2a2a (font), #ccffcc (right), #e0e0e0 (center), #ffe0f0 (left) -->
   <item order="8-a" id="headerBarColor">#337ab7</item>
   <item order="8-b" id="defaultFontColor">#2a2a2a</item>
   
   <!-- 9. PRESORT OPTIONS -->
   <item order="9-a" id="shuffleCards">true</item>
   <item order="9-b" id="defaultFontSizePresort">22</item>

   <!-- 10. SORT OPTIONS -->
   <item order="10-a" id="condOfInstFontSize">20</item>
   <item order="10-b" id="allowUnforcedSorts">false</item>
   <item order="10-c" id="warnOverloadedColumn">true</item>
   <item order="10-d" id="defaultFontSizeSort">16</item>
   <item order="10-e" id="minCardHeightSort">120</item>

   <!-- 11. POSTSORT OPTIONS -->
   <item order="11-a" id="showPostsort">true</item>
   <item order="11-b" id="showSecondPosColumn">false</item>
   <item order="11-c" id="showSecondNegColumn">false</item>
   <item order="11-d" id="showBackButton">true</item>
   <item order="11-e" id="postsortCommentsRequired">false</item>
   <item order="10-f" id="requireMinCommentLength">false</item>
   <item order="10-g" id="minWordCountValuePostsort">30</item>
   <item order="10-h" id="defaultFontSizePostsort">16</item>
   <item order="10-i" id="minCardHeightPostsort">120</item>

   <!-- 12. SURVEY - Survey Questions -->
   <item order="12-a" id="showSurvey">true</item>

   <item id="survey">
       <input type="information"></input>
       <note bg="goldenrod">All fields marked with an * are {{{b}}}required.{{{/b}}}</note>
   </item>

   <item id="survey">
        <input type="text" required="false" limited="false" limitLength="99999" restricted="false"></input>
        <label>1. Have you had classes with me before?</label>
        <note>If yes, please {{{i}}}list them here{{{/i}}}. (limit = 100 characters)</note>
   </item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>2. Describe your experience using the iPads in this class</label>
        <note></note>
        <placeholder>input comment here</placeholder>
   </item>

   <item id="survey">
        <input type="radio" required="false" other="true">Freshman;;;Sophomore;;;Junior;;;Senior;;;Other (Please specify below)</input>
        <label>3. Year</label>
        <note>Please select your year</note>
   </item>

   <item id="survey">
        <input type="select" required="false">Global Studies;;;Linguistics;;;English Literature</input>
        <label>4. What is your program focus?</label>
        <note></note>
   </item>

   <item id="survey">
        <input type="checkbox" required="true" other="true">Lecture;;;Group Discussion;;;Active Learning;;;Other (Please specify below)</input>
        <label>5. What kind of class do you prefer?*</label>
        <note></note>
   </item>

   <item id="survey">
        <input type="rating2" required="false" scale="Yes;;;No">I have used an iPad in class before.;;; I have used a notebook computer in class before.;;;I have used Moodle before.;;;I have used Quizlet before;;;</input>
        <label>6. Please respond to {{{mark}}}all{{{/mark}}} of the following statements</label>
        <note></note>
   </item>

   <item id="survey">
        <input type="rating5" required="false" scale="1;;;2;;;3;;;4;;;5">How would you rate the use of iPads in this class?;;;How would you rate this class overall?;;;How was your interaction with {{{u}}}other students?{{{/u}}};;;How was access to the computer lab?</input>
        <label>7. {{{i}}}Please{{{/i}}} answer the following questions</label>
        <note></note>
   </item>

   <item id="survey">
        <input type="rating10" required="false" scale="1;;;2;;;3;;;4;;;5;;;6;;;7;;;8;;;9;;;10">How would you rate the use of the {{{b}}}Socrative{{{/b}}} website in this class?;;;How would you rate the use of the {{{b}}}Quizlet{{{/b}}} website in this class?;;;How would you rate the use of Moodle in this class?;;;How would you rate the use of Edmodo in this class?;;;</input>
        <label>8. {{{u}}}Please answer all of the following questions{{{/u}}}</label>
        <note></note>
   </item>


       
  </config>